<!-- <footer>
    <div class="footer-container">
        <div class="socialicons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Our Team</a></li>
            </ul>
        </div>
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2022; Designed by <span class="designer">Jayvir, Abhinav, Sagar</span></p>
    </div>
</footer> -->
<footer>
  <div class="footer">
    <div class="row">
      <a href="#"><i class="fa fa-facebook" style="color: #1f7bf2"></i></a>
      <a href="#"><i class="fa fa-instagram" style="color: #ff2739"></i></a>
      <a href="#"><i class="fa fa-youtube" style="color: #ff090b"></i></a>
      <a href="#"><i class="fa fa-twitter" style="color: #08a6f8"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
      </ul>
    </div>

    <div class="row">
      Copyright © 2024 - All rights reserved || Designed By: Jayvir, Sagar,
      Abhinav
    </div>
  </div>
</footer>
