.bg {
    background-image: url(../../assets/images/bh-3.png);
  background-repeat: repeat-y;
  background-size: cover;
  background-position: center;
  height: 80vh;
  text-align: center;
 
}

h1 {
    /* font-size: 30px;
  text-align: center;
  color: black; */
  text-align: center;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.849);
  background-color: rgba(0, 0, 0, 0.194);
  padding: 1rem;
  border-radius: 5px;
  display: inline-block;
  margin-top: 2rem;
}

#container {
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f6ebeb54;
  box-shadow: 0 8px 8px 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
    
}

mat-form-field{
    width: 100%;
}


button {
  margin-left: 10px;
}
.button-spinner-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 10px;
}
.spinner-container {
  display: flex;
  justify-content: center;
width: 8.4rem;
}

.spinner {
  width: 25px;
  height: 25px;
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

