.member-container{
    padding: 20px;
    
}
mat-form-field{
    width: 100%;
}

.cancel-btn{
    margin-right: 1rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .spinner {
    width: 25px;
    height: 25px;
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-left-color: #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }