<!-- <div class="landing">

    <div class="bg">
        <img src="../../assets/images/landing-1.png" alt="">
        <a (click)="scrollDown()">
            <div class="scrolldown">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </a>
    
    </div>

    <p class="animate__animated animate__fadeInDown  animate__slower animate__delay-4s animate-times s-text">
        Visualize your project's workflow with our intuitive Kanban board,
        providing full transparency and empowering your team
        to achieve shared business goals sooner.
    </p>
    
    <p class="animate__animated animate__fadeInDown animate__slower animate__delay-3s animate-times  s-text">
        Streamline task management and enhance collaboration with our
        sleek Kanban board UI, offering a high-level view of
        ongoing developments and enabling timely project completion.
    </p>
    
    <p class="animate__animated animate__fadeInDown animate__slower animate__delay-2s animate-times s-text">Empower your
        team with a user-friendly Kanban board UI, allowing
        easy access to all tasks in one place, facilitating
        effective communication and collaboration.
    </p>


    <div class="downpage" id="downPage">
        <img src="../../assets/images/landing-2.png" alt="">
        <a routerLink="/login" class="anchor">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Get Started
        </a>
    </div>


    <div class="footer">
        <app-footer></app-footer>
    </div>


</div> -->
<app-nav class="nav"></app-nav>

<div class="landing">

    <div class="landing-block-seprator">
        <img class="logo" src="./../../assets/images/Kanban-img.png" alt="">
        <div class="side-content">
            <h1 class="landing-h1">KANBAN <span class="sp">BOARD</span></h1>
            
            <p class="animate__animated animate__fadeInDown  animate__slower animate__delay-4s animate-times s-text">
                Visualize your project's workflow with our intuitive Kanban board,
                providing full transparency and empowering your team
                to achieve shared business goals sooner.
            </p>
            
            <p class="animate__animated animate__fadeInDown animate__slower animate__delay-3s animate-times  s-text">
                Streamline task management and enhance collaboration with our
                sleek Kanban board UI, offering a high-level view of
                ongoing developments and enabling timely project completion.
            </p>
            
            <!-- <p class="animate__animated animate__fadeInDown animate__slower animate__delay-2s animate-times s-text">Empower your
                team with a user-friendly Kanban board UI, allowing
                easy access to all tasks in one place, facilitating
                effective communication and collaboration.
            </p> -->
            
            
            <div class="downpage" id="downPage">
                <a routerLink="/login" class="anchor">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Get Started
                </a>
            </div>
        </div>
    </div>


</div>

















