/* background: url('./../../assets/images/landing-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh; */

/* .landing{
    background-color: #10263b;
} */
/* .bg{
    background: url('./../../assets/images/bh-2.jpeg');
} */
/* 
img{
    width: 100%;
    height: 100vh;
}

a:hover{
    cursor:default;
}

.scrolldown{
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0%;
    left: 0%;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(-15px ,-15px);
    animation-delay: -0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0px ,0px);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(15px ,15px);
    animation-delay: 0.0s;
}

@keyframes animate {
    0%
    {
        top: -5px;
        left: -5px;
        opacity: 0!;
    }
    25%
    {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50% ,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}  */

/* middel-page */

/* .downpage{
    
} */
/* .downpage img{
    margin-top: -270px ;
    margin-bottom: 180px;
} */
/* 
.anchor{
    position: absolute;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.5s;
    overflow: hidden;
    margin-right: 70px;
    text-decoration: none;
    left: 42%;
    bottom: -120%;
    
}
.anchor:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent ,#0005);
}

.anchor span{
    position: absolute;
    display: block;
}
.anchor span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0%
    {
        left: -100%;
    }
    100%
    {
        left: 100%;
    }
}
.anchor span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%
    {
        top: -100%;
    }
    100%
    {
        top: 100%;
    }
}
.anchor span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s infinite;
    animation-delay: 0.5s;
}
@keyframes animate3 {
    0%
    {
        right: -100%;
    }
    100%
    {
        right: 100%;
    }
}
.anchor span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%
    {
        bottom: -100%;
    }
    100%
    {
        bottom: 100%;
    }
}  */

/* summary */

/* footer */
/* footer{
    background-color: rgb(87, 84, 84);
    margin: 0%;
    padding: 0%;
} */

/* -------------------------------------------------------- */

.landing {
  background: url("./../../assets/images/bh-3.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat-y;
  height: 95vh;
  /* margin-top: -30px; */
}
.landing-block-seprator {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding-top: 30px;
}
.logo {
  width: 50%;
  height: 500px;
}
.side-content {
  /* text-align: center; */
  width: 40%;
}
.landing-h1 {
  color: white;
  text-shadow: 0px 5px 10px gray;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
.sp {
  color: cyan;
}

.s-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  margin: 2rem auto 0.5rem;
}

.animate-times {
  animation-iteration-count: 1;
}

.anchor {
  position: absolute;
  display: inline-block;
  padding: 20px 25px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #03e9f4;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.5s;
  overflow: hidden;
  margin-right: 70px;
  margin-top: 5rem;
  text-decoration: none;
  /* left: 42%; */
  /* bottom: 20%; */
}
.anchor:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.anchor span {
  position: absolute;
  display: block;
}
.anchor span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.anchor span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
.anchor span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
.anchor span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
